In [21]:
import pandas as pd

In [15]:
data = pd.read_csv("netflix.csv",encoding='latin-1')
data.head(n=10)
# data.isnull().sum()
data.notnull().sum()

title                1000
rating               1000
ratingLevel           941
ratingDescription    1000
release year         1000
user rating score     605
user rating size     1000
dtype: int64

In [26]:
data.tail(n=10)

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
990,My Animal Friends,TV-Y,Suitable for all ages.,10,2013,NaN,82
991,Dawn of the Croods,TV-Y7,Suitable for children ages 7 and older,41,2017,72.0,80
992,Alpha and Omega: Dino Digs,TV-G,Suitable for all ages.,35,2016,NaN,82
993,Wiener Dog Internationals,G,General Audiences. Suitable for all ages.,35,2015,NaN,82
994,Pup Star,G,General Audiences. Suitable for all ages.,35,2016,NaN,82
995,The BFG,PG,"for action/peril, some scary moments and brief...",60,2016,97.0,80
996,The Secret Life of Pets,PG,for action and some rude humor,60,2016,NaN,81
997,Precious Puppies,TV-G,Suitable for all ages.,35,2003,NaN,82
998,Beary Tales,TV-G,Suitable for all ages.,35,2013,NaN,82
999,Growing Up Wild,G,NaN,35,2016,80.0,80

In [50]:
data.shape

(1000, 7)

In [29]:
data.columns

Index(['title', 'rating', 'ratingLevel', 'ratingDescription', 'release year',
       'user rating score', 'user rating size'],
      dtype='object')

In [31]:
type(data)

pandas.core.frame.DataFrame

In [1]:
#Label based selection : LOC
#Index based selection : ILOC

In [65]:
import pandas as pd
import numpy as np
data = pd.read_csv("netflix.csv",encoding='latin-1')
data.loc[(data.rating=="PG-13")]

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
250,The Waterboy,PG-13,language and some crude sexual humor,80,1998,82.0,80
251,10 Things I Hate About You,PG-13,"adult content, adult language and mild violence",80,1999,68.0,80
253,How to Lose a Guy in 10 Days,PG-13,some sex-related material,80,2003,56.0,80
254,The Benchwarmers,PG-13,"crude and suggestive humor, and for language",80,2006,77.0,80
255,Step Up,PG-13,"thematic elements, brief violence and innuendo",80,2006,64.0,80
257,Twilight,PG-13,some violence and one sexual scene,80,2008,89.0,80
273,Mean Girls 2,PG-13,"For some rude and suggestive material, and for...",80,2011,NaN,82
286,Safe Haven,PG-13,thematic material involving threatening behavi...,80,2013,62.0,80
300,The Waterboy,PG-13,language and some crude sexual humor,80,1998,82.0,80
302,The Wedding Planner,PG-13,language and some sexual humor,80,2001,NaN,82
306,Twilight,PG-13,some violence and one sexual scene,80,2008,89.0,80
322,Mean Girls 2,PG-13,"For some rude and suggestive material, and for...",80,2011,NaN,82
335,Trouble with the Curve,PG-13,Parents strongly cautioned. May be inappropria...,80,2012,63.0,80
372,Unconditional,PG-13,some violent content and mature thematic elements,80,2012,NaN,82

In [13]:
data.loc[(data.rating=="TV-Y7") & (data["release year"]==2017)]

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
630,Dawn of the Croods,TV-Y7,Suitable for children ages 7 and older,41,2017,72.0,80
636,Home: Adventures with Tip & Oh,TV-Y7,Suitable for children ages 7 and older,41,2017,NaN,82
693,Home: Adventures with Tip & Oh,TV-Y7,Suitable for children ages 7 and older,41,2017,NaN,82
841,The Mr. Peabody and Sherman Show,TV-Y7,Suitable for children ages 7 and older,41,2017,NaN,82
991,Dawn of the Croods,TV-Y7,Suitable for children ages 7 and older,41,2017,72.0,80

In [17]:
data.loc[(data.rating=="TV-14") & (data["user rating score"] >= 90) ]

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
5,Supernatural,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80
7,The Vampire Diaries,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2017,91.0,80
9,Pretty Little Liars,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,96.0,80
...,...,...,...,...,...,...,...
472,Person of Interest,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,93.0,80
474,Scandal,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,92.0,80
476,Sherlock,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80
477,The Client List,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2013,92.0,80
483,The Blacklist,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,96.0,80

In [19]:
data.loc[(data.rating=="TV-14"),["title","rating"]]

                   title rating
2         Grey's Anatomy  TV-14
3           Prison Break  TV-14
5           Supernatural  TV-14
7    The Vampire Diaries  TV-14
9    Pretty Little Liars  TV-14
..                   ...    ...
489             Rosewood  TV-14
491             Quantico  TV-14
492            Limitless  TV-14
495          No Tomorrow  TV-14
499            Greenleaf  TV-14

[234 rows x 2 columns]

In [27]:
data.iloc[[10,15]]

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
10,Once Upon a Time,TV-PG,Parental guidance suggested. May not be suitab...,70,2016,98.0,80
15,Lottie Dottie Chicken,TV-Y,Suitable for all ages.,10,2009,NaN,82

In [43]:
data.iloc[[10,15,16],1:3]

   rating                                        ratingLevel
10  TV-PG  Parental guidance suggested. May not be suitab...
15   TV-Y                             Suitable for all ages.
16  TV-14  Parents strongly cautioned. May be unsuitable ...

In [44]:
data.iloc[0:3]

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80

In [46]:
data.iloc[2:6,2:5]

,ratingLevel,ratingDescription,release year
2,Parents strongly cautioned. May be unsuitable ...,90,2016
3,Parents strongly cautioned. May be unsuitable ...,90,2008
4,Parental guidance suggested. May not be suitab...,70,2014
5,Parents strongly cautioned. May be unsuitable ...,90,2016

In [48]:
data.describe()

       ratingDescription  release year  user rating score  user rating size
count         1000.00000   1000.000000         605.000000       1000.000000
mean            67.36600   2010.335000          84.094215         80.783000
std             30.78561      8.877927          12.344371          0.973066
min             10.00000   1940.000000          55.000000         80.000000
25%             35.00000   2007.000000          75.000000         80.000000
50%             60.00000   2015.000000          88.000000         80.000000
75%             90.00000   2016.000000          95.000000         82.000000
max            124.00000   2017.000000          99.000000         82.000000

# One hot encoding

In [51]:
data

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80
...,...,...,...,...,...,...,...
995,The BFG,PG,"for action/peril, some scary moments and brief...",60,2016,97.0,80
996,The Secret Life of Pets,PG,for action and some rude humor,60,2016,NaN,81
997,Precious Puppies,TV-G,Suitable for all ages.,35,2003,NaN,82
998,Beary Tales,TV-G,Suitable for all ages.,35,2013,NaN,82
999,Growing Up Wild,G,NaN,35,2016,80.0,80

In [52]:
data.isnull().sum()

title                  0
rating                 0
ratingLevel           59
ratingDescription      0
release year           0
user rating score    395
user rating size       0
dtype: int64

In [86]:
round(data["user rating score"].mean())

84

In [84]:
data.replace(to_replace=np.nan,value=round(data["user rating score"].mean()),inplace=True)

In [85]:
data

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,84.0,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80
...,...,...,...,...,...,...,...
995,The BFG,PG,"for action/peril, some scary moments and brief...",60,2016,97.0,80
996,The Secret Life of Pets,PG,for action and some rude humor,60,2016,84.0,81
997,Precious Puppies,TV-G,Suitable for all ages.,35,2003,84.0,82
998,Beary Tales,TV-G,Suitable for all ages.,35,2013,84.0,82
999,Growing Up Wild,G,84,35,2016,80.0,80

In [87]:
data.isnull().sum()

title                0
rating               0
ratingLevel          0
ratingDescription    0
release year         0
user rating score    0
user rating size     0
dtype: int64